@page "/"
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>

    @await Component.InvokeAsync("SubmitCheep", new { Model.MessageModel, targetPage = "/" })

    @if (Model.Cheeps.Any())
    {
        @await Component.InvokeAsync("PageButtons", new { currentPageNumber = Model.PageNumber, lastPageNumber = Model.LastPageNumber, targetPageUrl = $"/" })
        @await Component.InvokeAsync("CheepList", new {cheeps = Model.Cheeps, targetPage = $"/"})
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    
    @await Component.InvokeAsync("PageButtons", new { currentPageNumber = Model.PageNumber, lastPageNumber = Model.LastPageNumber, targetPageUrl = $"/" })
    
</div>