@page "/{author}"
@model Chirp.Web.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}

<div>
    <h2> @routeName's Timeline </h2>

    @await Component.InvokeAsync("SubmitCheep", new {Model.MessageModel, targetPage = $"/{routeName}"})

    @if (Model.Cheeps.Any())
    {
        @await Component.InvokeAsync("PageButtons", new { pageNumber = Model.PageNumber, targetPage = $"/{Model.Author}", isLastPage = Model.Cheeps.Count < 32 })
        @await Component.InvokeAsync("CheepList", new {cheeps = Model.Cheeps})
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }

    @await Component.InvokeAsync("PageButtons", new { pageNumber = Model.PageNumber, targetPage = $"/{Model.Author}", isLastPage = Model.Cheeps.Count < 32 })
    
</div>