@{
    var targetPageUrl = ViewBag.TargetPageUrl as string ?? "/";
    var currentPageNumber = ViewBag.CurrentPageNumber as int? ?? 1;
    var lastPageNumber = ViewBag.LastPageNumber as int? ?? 1;
}

<div style="display: flex; align-items: center;">
    @if (currentPageNumber > 1)
    {
        <a href="@targetPageUrl?page=@(currentPageNumber - 1)">&lt; Prev</a>
    }
    <p style="margin: 10px">@currentPageNumber</p>
    @if (currentPageNumber < lastPageNumber)
    {
        <a href="@targetPageUrl?page=@(currentPageNumber + 1)">Next &gt;</a>
    }
</div>