@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Chirp.Web.Pages.BindingModels.MessageModel

@{
    var targetPage = ViewBag.TargetPage as string ?? "";
}

<div class="cheepbox">
    <h3>What's on your mind @(User.Claims.FirstOrDefault(c => c.Type == "UserName")?.Value)?</h3>
    <form method="post" asp-page="@targetPage">
        <input style="float: left" type="text" asp-for="@Model.Message">
        <span asp-validation-for="@Model.Message"></span>
        <input type="submit" value="Share">
    </form>
</div>